doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet", href="/style/main.css")

        block style
    body 

        header.main-header
            nav.main-header__nav
                ul.main-header__item-list

                    li.main-header__item
                        a(href="/" class = (path === 'shop/index' ? 'active' : '')) Shop

                    li.main-header__item
                        a(href="/product-list" class = (path === '/shop/product-list' ? 'active' : '')) product-list
                    
                    if(autharized == true)
                        li.main-header__item
                            a(href="/admin/edit-product" class = (path === 'admin/add-product'? 'active' : '')) Add product 
                    
                        li.main-header__item
                            a(href="/cart" class = (path === 'shop/cart'? 'active' : '')) Cart  
                    
                        li.main-header__item
                            a(href="/cheakout" class = (path === 'shop/cheakout'? 'active' : '')) cheakout  

                        li.main-header__item
                            a(href="/admin/products" class = (path === 'admin/products'? 'active' : '')) Admin products  

                ul.main-header__item-list
                    if(!autharized)
                        ul.main-header__item
                            a(href="/login" class = (path === '/login'? 'active' : '')) login
                        ul.main-header__item
                            a(href="/register" class = (path === '/register'? 'active' : '')) register
                            
                    else 
                        ul.main-header__item
                            
                            input(type="hidden", name = "_csrf", value = csrfToken)
                            a(href="/logout" class = (path === '/logout'? 'active' : '')) logout

                            //- form( action="/logout" method="post")
                            //-     input(type="hidden" name="_csrf" value= csrfToken)
                            //-     button(type="submit" class = (path === '/logout'? 'active' : '') ) Logout

        block content


        


